
<div class="page-top-offset"></div>
<div class="row">
    <div class="container-fluid">
        <div class="offset-md-11">
            <a href="http://localhost:4200/login">Customer Login</a>
        </div>
        <div class="col-md-4 offset-md-5">
            <h3 class="title offset-md-1">Admin Login</h3>
            <br>
            <div>
                <label>Username</label>
                <input type="text" [(ngModel)]= "username" placeholder="Enter Username">
            
            </div>
            <br>
            <div>
                <label>Password</label>
                <input type="text" [(ngModel)]= "password" placeholder="Enter Password">
            
            </div>
            <br>
            <div class="offset-md-2">
                <button class="btn btn-primary" (click)= "login()">Login</button>
            </div>

        </div>
    </div>
</div>