<h1>Fios Sign Up</h1>

    <br/>
<div class="form-group">
     <label>Enter Customer ID:</label><input type="number" class="form-control" id="id" required name="id" [(ngModel)]="inputId"/>
</div>
<p id="info"></p>
<br/>
<div id="dataTable" style="display: none;">
    <table>
        <tr>
            <th>{{Data.name}}</th>
            <th>{{Data.id}}</th>
        </tr>
        <tr>
            <th>Cable Subscription</th>
            <th>{{Data.cableSubscribed}}</th>
        </tr>
        <tr>
            <th>Internet Subscription</th>
            <th>{{Data.internetSubscribed}}</th>
        </tr>
        <tr>
            <th>Phone Subscription</th>
            <th>{{Data.phoneSubscribed}}</th>
        </tr>
    </table>

</div>
<button type="button" class="btn btn-primary" type="submit" value="submit" (click)="onSubmit()">Submit</button>
