<body>
    <div class="heading">
        <h2>Fios Customer Look Up</h2>
    </div>

    <br/>
    <div class="center">
        <input type="number" class="centerChild" id="id" required name="id" [(ngModel)]="inputId" placeholder="Please Enter a Customer ID"/>
        <p>Customer ID</p>
    </div>
    <p id="info"></p>
    <br/>

    <div class="center">
        <button type="button" class=".centerChild" type="submit" value="submit" (click)="onSubmit()">Look Up</button>
    </div>

    <div id="dataTable1" class="center" style="display: none;">
        <table class="centerChild">
            <tr class="tableHeading">
                <th>Subscription</th>
                <th>Status</th>
            </tr>
            <tr>
                <th>Cable Subscription</th>
                <th>{{Data.cableSubscribed}}</th>
            </tr>
            <tr>
                <th>Internet Subscription</th>
                <th>{{Data.internetSubscribed}}</th>
            </tr>
            <tr>
                <th>Phone Subscription</th>
                <th>{{Data.phoneSubscribed}}</th>
            </tr>
        </table>
    </div>
</body>
