<h1>My Subscriptions</h1>

<button onclick="location.href='add-subscription'">Add New Plan</button>

<div id="dataTable1" class="center">
    <table class="centerChild">
        <tr class="tableHeading">
            <th>Subscription</th>
            <th>Plan</th>
            <th>Price</th>
        </tr>
        <tr>
            <th>Cable Subscription</th>
            <th>None</th>
            <th>$0.00</th>
            <button>Unsubscribe</button>
        </tr>
        <tr>
            <th>Internet Subscription</th>
            <th>None</th>
            <th>$0.00</th>
            <button>Unsubscribe</button>
        </tr>
        <tr>
            <th>Phone Subscription</th>
            <th>None</th>
            <th>$0.00</th>
            <button>Unsubscribe</button>
        </tr>
    </table>
</div>