<h1>My Subscriptions</h1>

<button onclick="location.href='add-subscription'">Add New Plan</button>

<div id="dataTable1" class="center">
    <table class="centerChild">
        <tr class="tableHeading">
            <th>Subscription</th>
            <th>Plan</th>
            <th>Price</th>
        </tr>
        <tr *ngIf="subscriptions && subscriptions[0] != null">
            <th>Cable Subscription</th>
            <th>{{(subscriptions && subscriptions[0] != null) ? subscriptions[0].plan : ""}}</th>
            <th>$0.00</th>
            <button (click)="unsubscribeCable()">Unsubscribe</button>
        </tr>
        <tr *ngIf="subscriptions && subscriptions[1] != null">
            <th>Internet Subscription</th>
            <th>{{(subscriptions && subscriptions[1] != null) ? subscriptions[1].plan : ""}}</th>
            <th>$0.00</th>
            <button (click)="unsubscribeInternet()">Unsubscribe</button>
        </tr>
        <tr *ngIf="subscriptions && subscriptions[2] != null">
            <th>Phone Subscription</th>
            <th>{{(subscriptions && subscriptions[2] != null) ? subscriptions[2].plan : ""}}</th>
            <th>$0.00</th>
            <button (click)="unsubscribePhone()">Unsubscribe</button>
        </tr>
    </table>
</div>